.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.movie-list {
  list-style: none;
  padding: 0;
}

.movie-item {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 10px;
}

.movie-poster {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 5px;
}

